nav{
	background-color: #31383d;
}


@media(min-width:200px) and (max-width:1000px){
  #profile{
  	position: relative;
  	left:91%;
  }	
}

.btn-sign-up{
	background-color:rgb(227, 97, 46);
}

.btn-sign-in,
.btn-close{
	background-color:black;
}

.btn-sign-in:hover,
.btn-sign-up:hover{
	color:white;
}


.login-header,
.register-header{
	background-color:orange;
}

a[class="dropdown-item"]:hover{
	color:grey;
}
