nav{
	background-color: #31383d;
}

@media(min-width:991px) and (max-width:1056px){
  #nav-menu{
    position: relative;
    left:20%;
  }
}

@media(min-width:1057px) and (max-width:1108px){
  #nav-menu{
    position: relative;
    left:25%;
  }
}

@media(min-width:1110px) and (max-width:1249px){
  #nav-menu{
    position: relative;
    left:30%;
  }
}


@media(min-width:1250px) and (max-width:2000px){
  #nav-menu{
    position: relative;
    left:40%;
  }
}

.btn-sign-up{
	background-color:rgb(227, 97, 46);
}

.btn-sign-in,
.btn-close{
	background-color:black;
}

.btn-sign-in:hover,
.btn-sign-up:hover{
	color:white;
}


.login-header,
.register-header{
	background-color:orange;
}

a[class="dropdown-item"]:hover{
	color:grey;
}
