<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <%= image_tag 'powerlife-logo-w.png', width:'200' %>
        </div>
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
      <!--   <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> 5th Floor, Ricogen Buildling,
                                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;112 Aguirre St., Legaspi Village</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@powerlife.ph</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 63 966 815 5300 (Globe)</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 63 919 433 2434 (Smart) </p>  
        </div> -->
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <p class="text-left text-md-left">Powerlife © 2019</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
        
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->