<div class="container">
	  <div class="row">
		  	<div class="col-md-8" >
				<div class="row">
					  <div class="col-md-12">
					    <ul class="stepper stepper-horizontal">

					      <!-- First Step -->
					      <li class="active">
					        <a href="#!">
					          <span class="circle">1</span>
					          <span class="label">Customer Info</span>
					        </a>
					      </li>

					      <!-- Second Step -->
					      <li>
					        <a href="#!">
					          <span class="circle">2</span>
					          <span class="label">Shipping Method</span>
					        </a>
					      </li>

					      <!-- Third Step -->
					      <li>
					        <a href="#!">
					          <span class="circle">3</span>
					          <span class="label">Payment Method</span>
					        </a>
					      </li>
					    </ul>
					  </div>


					 <div class="col-md-12 col-lg-12">
	
						  <div class="col-md-12 col-lg-12">
						  	<br>
						  	<h3>Contact Information</h3>
						  </div>
						  
						  <div class="col-md-8 col-lg-8">
						  	 <input type="text" class="form-control validate" placeholder="Email Address" id="email_address">
						  </div>
					  
						  <div class="col-md-12 col-lg-12">
						  	<br>
						  	<h3>Shipping address</h3>
						  </div>
						  
						  <div class="col-md-12 col-lg-12">
							<div class="row">
							    <div class="col-md-4 col-lg-4">
									<div class="md-form">
									  <input type="text" id="fname" class="form-control validate">
									  <label for="fname">Firstname</label>
									</div>
							    </div>
							    <div class="col-md-4 col-lg-4">
							    	<div class="md-form">
									  <input type="text" id="lname" class="form-control validate">
									  <label for="lname">Lastname</label>
									</div>
							    </div>
							    <div class="col-md-8 col-lg-8">
							 	   <div class="md-form">
									  <input type="text" id="address" class="form-control">
									  <label for="address">Address</label>
									</div>
							    </div>
							    <div class="col-md-8 col-lg-8">
							     	<div class="md-form">
									  <input type="text" id="apartment" class="form-control">
									  <label for="apartment">Apartment, suite, etc. (optional)</label>
									</div>
							    </div>
							    <div class="col-md-4 col-lg-4"></div>
							    <div class="col-md-8 col-lg-8">
							     	<div class="md-form">
									  <input type="text" id="city" class="form-control" placeholder="">
									  <label for="city">City</label>
									</div>
							    </div>
							    <div class="col-md-4 col-lg-4"></div>
							    <div class="col-md-4 col-lg-4">
							     <br>	
							      <select id="country" class="form-control">
							      	<option>Phillippines</option>
							      </select>
							    </div>
							    <div class="col-md-4 col-lg-4">
							        <div class="md-form">
									  <input type="text" id="postal" class="form-control">
									  <label for="postal">Postal Code</label>
									</div>
							    </div>
							</div>
						  </div>
					 </div>
				</div>	
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
			  <br><br><br><br>
			  <%= render 'shared/total', cart_product: @cart_product, sub_total: @sub_total, cart_quantity: @cart_quantity, additional: nil %>	
			</div>
			

			<div class="col-md-8 col-lg-8">
			    <div class="custom-control custom-checkbox">
				  &nbsp;<input type="checkbox" class="custom-control-input" id="save_this_info" checked>
				  <label class="custom-control-label" for="save_this_info">Save this information for next time</label>
				</div>
			</div>
			<div class="col-md-8 col-lg-8">
				<button class="btn btn-primary" id="continue_to_shipping_method">Continue to Shipping Method</button>
			</div>
	  </div>
	  <br>`
</div>	

<%= javascript_include_tag 'store-front/payment-method.js' %>